body {
  background-color: #4c2e1b;
}

h1 {
  font-family: "American Typewriter", sans-serif;
  padding-left: 25px;
}

p {
  font-family: "American Typewriter", sans-serif !important;
  color: #e2d6bf !important;
  text-align: center;
}

nav {
  justify-content: space-evenly;
  flex-wrap: nowrap !important;
  text-align: center !important;
  font-family: "American Typewriter", sans-serif !important;
  color: #e2d6bf !important;
  background-color: #4c2e1a !important;
  text-transform: lowercase !important;
}

a {
  cursor: default;
}

a:hover {
  cursor: default;
}

cursor:hover {
  cursor: default;
}

nav:hover {
  cursor: default;
}

.primary-link {
  overflow: auto;
  font-family: "American Typewriter", sans-serif !important;
  color: #ecdec2 !important;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 15px;
}

.primary-link:hover {
  color: #734423;
}

.lyric-links {
  text-decoration: none;
  color: black;
  line-height: 4px;
}

.lyric-links:hover {
  color: #c2a26c;
}

.wrap {
  padding: 15px;
}
