h1 {
  font-family: "Special Elite", cursive;
  padding-left: 25px;
}

nav {
  font-family: "Special Elite", cursive !important;
  color: #f5e4c0 !important;
}

ul {
  font-family: "Special Elite", cursive;
  list-style-type: none;
}

body {
  background-image: url(img/album-cover.jpg);
}
