h1 {
  font-family: "American Typewriter", sans-serif;
  padding-left: 25px;
}

p {
  font-family: "American Typewriter", sans-serif !important;
}

nav {
  font-family: "American Typewriter", sans-serif !important;
  background-color: sienna !important;
  background: none;
}

ul {
  font-family: "American Typewriter", sans-serif;
  list-style-type: none;
}

img {
  border-radius: 10px;
  box-shadow: 5px;
}

audio {
  width: 200px;
  height: 25px;
  line-height: 50px;
}

.navbar {
  background-color: #c2a26c;
}

.lyric-links {
  text-decoration: none;
  color: black;
  line-height: 40px;
}

.lyric-links:hover {
  color: #c2a26c;
}

a {
  cursor: url("img/cicada-cursor.png"), default;
}
